/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@import "./fonts.css";

main#root * {
    font-family: NotoSans, "tabler-icons";
}

main#root *::selection {
    background-color: #c6def5;
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    cursor: default;
}

*::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 50px;
}
